html, body {
    height: 100%;
    font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.wrapper {
    min-height: 100%;
}

.wrapper > nav > a {
    text-decoration: none;
    color: white;
}

nav {
    background-color: rgb(38, 72, 131);
    margin: 0 0 2em 0;
    color: rgb(255, 255, 255);
    padding: 1em;
    justify-content: flex-end;
}

ul {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-title {
    margin-bottom: 3em;
}

.index-img {
    margin-bottom: 1.5em;
}

.reference-list {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.form-container {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.description {
    margin: 0 0 1em 0;
}

.back {
    justify-self: flex-end;
}

.back-button {
    width: 40px;
    height: 15px;
}


.all-items {
    padding: 2em;
}

footer > h3 {
    margin: 0;
    padding: 1em;
}

footer > a {
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
}

footer {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: rgb(38, 72, 131);
    margin: 0;
    color: rgb(255, 255, 255);
    padding: 1em;
    align-items: baseline;
    justify-content: center;
}

.footer-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.footer-list a {
    display: block;
    padding: 0.5em;
}