{% extends 'base.html' %}

{% block title %}All Species{% endblock %}
<link rel="stylesheet" href="/static/style.css">

{% block content %}

    <div class="all-items">
        <h1>All Seafood: </h1>
        <div>
            <!-- {{ response }} -->
            {% for species in response %}
                <h3 class="species-name">{{ species['Species Name'] }}</h3>
                <ul>
                    <li class="quote">{{ species['Quote'] }}</li>
                </ul>
            {% endfor %}
        </div>
    </div>

{% endblock %}