{% extends 'base.html' %}

{% block title %}Index{% endblock %}
<link rel="stylesheet" href="/static/style.css">

{% block content %}

    <div class="container">
        <h2 class='index-title'>
            Fish Watch
        </h2>
        <div class='index-img'>
            <img src="https://images.unsplash.com/photo-1551244072-5d12893278ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80" width='90%' height='90%'>
        </div>
        <div class='index-links'>
            <p><a href="/search_form">See the sustainability rating of your
            favorite seafood!</a></p>
            <p><a href="/all_species">See a list of each sea creature in the database!</a></p>
        </div>
    </div>

{% endblock %}