{% extends 'base.html' %}

{% block title %}Index{% endblock %}
<link rel="stylesheet" href="/static/style.css">

{% block content %}

    <div class="container">
        <h2 class='index-title'>
            Fish Watch
        </h2>
        <div class='index-img'>
            <img src="/static/Ocean_Adapt.jpg" width='585' height='150'>
        </div>
        <div class='index-links'>
            <p><a href="/search_form">See the sustainability rating of your
            favorite seafood!</a></p>
            <p><a href="/all_species">See a list of each sea creature in the database!</a></p>
        </div>
    </div>

{% endblock %}