{% extends 'base.html' %}

{% block title %}Form{% endblock %}
<link rel="stylesheet" href="/static/style.css">

{% block content %}

<div class='main-container'>
    <form class='form-container' action="{{ url_for('search_results') }}" method="POST">
        <h3>Enter the name of the fish:</h3>
        <input class="input-text" type='text' id='name' name='species'>
        <input class="submit_button "id='submit' type='submit'>
    </form>
    <div class="reference-list">
        <h3>List of seafoods for reference:</h3>
        {% for seafood in response %}
                <p class="species-name">{{ seafood['Species Name'] }}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}